* {
  margin: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #15132a;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: #15132a;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #86aace;
}

body {
  background-color: #15132a;
}

.blue {
  color: #0008ff;
}

.bold {
  font-weight: bold;
}

.icon-size_button {
  font-size: 1.5rem;
}

header {
  padding: 20px;
  font-family: Poppins, sans-serif;
  overflow: hidden;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.header--menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  position: fixed;
  top: 0px;
  bottom: 0px;
  right: 0px;
  background-color: #162c53;
  width: 50vw;
  height: 100vh;
  transition: 0.1s cubic-bezier(0.37, 0.17, 0.4, 0.79);
  transform: translate(450px);
}

.header--name {
  flex-grow: 4;
  font-size: 3rem;
  color: #9dfded;
  font-family: "Do Hyeon", sans-serif;
  padding-left: 30px;
}

.header--socials {
  color: #9dfded;
  font-size: 3rem;
}

.header--email {
  display: none;
  font-size: 1.3rem;
  text-decoration: none;
  position: relative;
  color: #9dfded;
}

.header--email_button {
  border: 1px solid #9dfded;
  color: #9dfded;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  height: 40px;
  width: 120px;
  text-decoration: none;
}

.header--email_button:hover {
  background-color: rgba(100, 255, 218, 0.1);
}

.header--email::before {
  content: "";
  position: absolute;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #9dfded;
  transform: scaleX(0);
  transform-origin: top left;
  transition: transform 0.3s ease;
}

.header--email:hover::before {
  transform: scaleX(1);
}

.header--button {
  display: flex;
  flex-direction: column;
  width: 60px;
  cursor: pointer;
  margin-left: 10px;
  z-index: 10;
}

.header--button span {
  background-color: white;
  border-radius: 10px;
  height: 4px;
  margin: 7px 0;
  transition: 0.4s cubic-bezier(0.7, -0.6, 0.3, 1.6);
}

.header--button span:nth-of-type(1) {
  align-self: flex-end;
  width: 50%;
}

.header--button span:nth-of-type(2) {
  width: 100%;
}

.header--button span:nth-of-type(3) {
  align-self: flex-end;
  width: 75%;
}

.header--check {
  display: none;
}

.header--check:checked ~ .header--button > span:nth-of-type(1) {
  transform-origin: bottom;
  transform: rotatez(45deg) translate(-12px, 23px);
}

.header--check:checked ~ .header--button > span:nth-of-type(2) {
  transform-origin: top;
  transform: rotatez(-45deg);
}

.header--check:checked ~ .header--button > span:nth-of-type(3) {
  transform-origin: bottom;
  width: 50%;
  transform: translate(-4px, -8px) rotatez(45deg);
}

.header--check:checked ~ .header--menu {
  transform: translate(0px);
  transition: 0.4s cubic-bezier(0.37, 0.17, 0.4, 0.79);
}

@media screen and (min-width: 768px) {
  header {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }

  .header--button {
    display: none;
  }

  .header--menu {
    flex-direction: row;
    position: absolute;
    background-color: #15132a;
    padding-top: 10px;
    width: 53vw;
    height: 13vh;
    transition: none;
    transform: translate(0px);
  }

  .header--socials {
    font-size: 1.7rem;
  }

  .header--email {
    display: flex;
    font-size: 1rem;
  }

  .header--email_button {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .header--menu {
    padding-top: 10px;
    width: 36vw;
    height: 12vh;
  }
}

/* HERO */

.hero {
  color: #9dfded;
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  padding: 10%;
  height: 100vh;
}

.hero h1 {
  color: #9dfded;
  font-family: "Nunito", sans-serif;
  margin-bottom: 20px;
  font-size: clamp(17px, 5vw, 20px);
}

.hero h2 {
  color: #edf6ff;
  font-size: clamp(40px, 8vw, 80px);
}

.hero h3 {
  font-size: clamp(40px, 8vw, 80px);
  color: #86aace;
  line-height: 110%;
  margin-bottom: 30px;
}

.hero p {
  font-size: 1.4rem;
  color: #86aace;
}

@media screen and (min-width: 1200px) {
  .hero {
    background: url(./images/hero.svg);
    background-repeat: no-repeat;
    background-position: 60px center;
  }
}

/* ABOUT */
.about {
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  padding: 20px 10%;
}

.about h2 {
  color: #edf6ff;
  font-size: 40px;
  padding-bottom: 20px;
}

.about p {
  color: #86aace;
  padding-bottom: 20px;
}

.about--image {
  display: flex;
  position: relative;
  height: 300px;
  width: 300px;
  margin: auto;
}

.about--image::after {
  content: "";
  position: absolute;
  background-color: #3fcdec;
  height: 300px;
  width: 300px;
  mix-blend-mode: multiply;
}

.about--image img {
  height: 300px;
  width: 300px;
  object-fit: cover;
  border-radius: 4px;
  filter: contrast(128%) grayscale(100%) hue-rotate(0deg) invert(0%)
    opacity(100%) saturate(120%) sepia(0%);
  mix-blend-mode: none;
  transition: 100ms;
}

.about--image:hover::after {
  display: none;
}

.about--image:hover img {
  filter: none;
}

@media screen and (min-width: 768px) {
  .about {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .about h2 {
    padding-bottom: 30px;
  }

  .about--inner {
    display: flex;
    gap: 60px;
  }

  .about--image {
    margin: 0;
  }
}

@media screen and (min-width: 1200px) {
  .about {
    padding: 5% 20% 10%;
  }
}

/* TOOLS */

.tools {
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  padding: 100px 10%;
  gap: 50px;
}

.tools h2 {
  color: #edf6ff;
  font-size: 40px;
}

.tools--container {
  border-radius: 50px;
  background-color: #edf6ff;
  display: flex;
  flex-direction: column;
  color: #162c53;
  text-align: center;
  font-size: 1.1rem;
}

.tools--design,
.tools--frontend-developer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 60px;
  gap: 20px;
}

.tools--frontend-developer {
  border-top: 1px solid black;
}

.icon {
  font-size: 3rem;
}

.tools--list {
  list-style: none;
  margin: 0;
  padding: 0;
  padding: 5px 0;
}

@media screen and (min-width: 768px) {
  .tools--container {
    flex-direction: row;
    background-color: #15132a;
    gap: 30px;
  }

  .tools--design {
    justify-content: flex-start;
  }

  .tools--design,
  .tools--frontend-developer {
    background-color: #edf6ff;
    border-radius: 50px;
    width: 50%;
  }

  .frontend--canDoList {
    padding-top: 22px;
  }
}

/* PROJECT  */

.project {
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  padding: 100px 10%;
  color: white; /*for test */
}

.project h2 {
  color: #edf6ff;
  font-size: 40px;
  padding-bottom: 30px;
}

.project--developer,
.project--design {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 30px 0;
}

.project--developer > div,
.project--design > div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40vh;
  width: 100%;
  color: black;
  background-color: #edf6ff;
  border-radius: 10px;
  position: relative;
}

.project--overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0);
  transition: background 0.5s ease;
}

.project--title {
  position: absolute;
  top: 130px;
  transition: top 0.5s ease;
}

.anime--button {
  position: absolute;
  top: 180px;
  opacity: 0;
  transition: opacity 0.35s ease;
}

.anime--button a {
  width: 200px;
  padding: 12px 48px;
  text-align: center;
  color: white;
  border: solid 2px white;
}

.project--developer > div:hover .project--overlay,
.project--design > div:hover .project--overlay {
  display: block;
  background: rgba(0, 0, 0, 0.3);
}

.project--developer > div:hover .project--title,
.project--design > div:hover .project--title {
  top: 90px;
}

.project--developer > div:hover .anime--button,
.project--design > div:hover .anime--button {
  opacity: 1;
}

.project--articles {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.project--articles > div {
  font-size: 1.2rem;
}

.project--design > .project--button,
.project--developer > .project--button {
  width: 250px;
}

.project--button {
  border: 2px solid #9dfded;
  color: #9dfded;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  height: 40px;
  width: 180px;
  text-decoration: none;
  margin: 30px 0;
  cursor: pointer;
  gap: 10px;
}

.project--button:hover {
  background-color: rgba(100, 255, 218, 0.1);
}

@media screen and (min-width: 768px) {
  .project--developer,
  .project--design {
    display: grid;
    column-gap: 30px;
    grid-template-columns: 50% 50%;
  }

  .project--button {
    margin: auto;
  }

  .project--articles,
  .project--articles > .project--button {
    margin: 40px;
  }
}

@media screen and (min-width: 1200px) {
  .project--developer,
  .project--design {
    grid-template-columns: 33% 33% 33%;
  }

  .project--button {
    grid-column: 2;
    margin-top: 30px;
  }
}
