* {
  margin: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #15132a;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: #15132a;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #86aace;
}

body {
  background-color: #15132a;
}

header {
  padding: 20px;
  font-family: Poppins, sans-serif;
  overflow: hidden;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.header--menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  position: fixed;
  top: 0px;
  bottom: 0px;
  right: 0px;
  background-color: #162c53;
  width: 50vw;
  height: 100vh;
  transition: 0.1s cubic-bezier(0.37, 0.17, 0.4, 0.79);
  transform: translate(450px);
}

.header--name {
  flex-grow: 4;
  font-size: 3rem;
  color: #9dfded;
  font-family: "Do Hyeon", sans-serif;
  padding-left: 30px;
}

.header--socials {
  color: #9dfded;
  font-size: 3rem;
}

.header--email {
  display: none;
  font-size: 1.3rem;
  text-decoration: none;
  position: relative;
  color: #9dfded;
}

.header--email_button {
  border: 1px solid #9dfded;
  color: #9dfded;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  height: 40px;
  width: 120px;
  text-decoration: none;
}

.header--email_button:hover {
  background-color: rgba(100, 255, 218, 0.1);
}

.header--email::before {
  content: "";
  position: absolute;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #9dfded;
  transform: scaleX(0);
  transform-origin: top left;
  transition: transform 0.3s ease;
}

.header--email:hover::before {
  transform: scaleX(1);
}

.header--button {
  display: flex;
  flex-direction: column;
  width: 60px;
  cursor: pointer;
  margin-left: 10px;
  z-index: 10;
}

.header--button span {
  background-color: white;
  border-radius: 10px;
  height: 4px;
  margin: 7px 0;
  transition: 0.4s cubic-bezier(0.7, -0.6, 0.3, 1.6);
}

.header--button span:nth-of-type(1) {
  align-self: flex-end;
  width: 50%;
}

.header--button span:nth-of-type(2) {
  width: 100%;
}

.header--button span:nth-of-type(3) {
  align-self: flex-end;
  width: 75%;
}

.header--check {
  display: none;
}

.header--check:checked ~ .header--button > span:nth-of-type(1) {
  transform-origin: bottom;
  transform: rotatez(45deg) translate(-12px, 23px);
}

.header--check:checked ~ .header--button > span:nth-of-type(2) {
  transform-origin: top;
  transform: rotatez(-45deg);
}

.header--check:checked ~ .header--button > span:nth-of-type(3) {
  transform-origin: bottom;
  width: 50%;
  transform: translate(-4px, -8px) rotatez(45deg);
}

.header--check:checked ~ .header--menu {
  transform: translate(0px);
  transition: 0.4s cubic-bezier(0.37, 0.17, 0.4, 0.79);
}

@media screen and (min-width: 760px) {
  .header--button {
    display: none;
  }

  .header--menu {
    flex-direction: row;
    position: absolute;
    background-color: #15132a;
    padding: 20px;
    width: 50vw;
    height: 15vh;
    transition: none;
    transform: translate(0px);
  }

  .header--socials {
    font-size: 1.7rem;
  }

  .header--email {
    display: flex;
    font-size: 1rem;
  }

  .header--email_button {
    display: none;
  }
}

@media screen and (min-width: 1300px) {
  .header--menu {
    width: 30vw;
  }
}

/* HERO */

.hero {
  color: #9dfded;
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  padding: 10%;
  height: 100vh;
}

.hero h1 {
  color: #9dfded;
  font-family: "Nunito", sans-serif;
  margin-bottom: 20px;
  font-size: clamp(17px, 5vw, 20px);
}

.hero h2 {
  color: #edf6ff;
  font-size: clamp(40px, 8vw, 80px);
}

.hero h3 {
  font-size: clamp(40px, 8vw, 80px);
  color: #86aace;
  line-height: 110%;
  margin-bottom: 30px;
}

.hero p {
  font-size: 1.4rem;
  color: #86aace;
}

/* ABOUT */
.about {
  color: #edf6ff;
  font-family: "Poppins", sans-serif;
  font-size: 50px;
  display: flex;
  justify-content: center;
}
